In [1]:
import pandas as pd

In [2]:
book_tags = pd.read_csv("goodbooks-10k/book_tags.csv")
book = pd.read_csv("goodbooks-10k/books.csv")
ratings = pd.read_csv("goodbooks-10k/ratings.csv")
tags = pd.read_csv("goodbooks-10k/tags.csv")

book_data = pd.read_csv("toptags10/book_data.csv")
book_data_binary = pd.read_csv("toptags10/book_data_binary.csv")

In [3]:
(
    book_tags
    .query("goodreads_book_id == 11084145")
    .merge(book, on="goodreads_book_id")
    .merge(tags, on="tag_id")
    .filter(items=["tag_id", "tag_name", "count"])
    .sort_values("count", ascending=False)
    .head(40)
)

    tag_id                 tag_name  count
0    30574                  to-read  60387
1     4605                biography   4555
2    21689              non-fiction   2541
3     8717        currently-reading   1295
4    11557                favorites   1187
5     4594              biographies   1157
6     5951                 business   1113
7    21773               nonfiction    713
8    29434               technology    392
9    22743                    owned    390
10   14552                  history    296
11    4561                      bio    270
12    3389                audiobook    263
13   17213                   kindle    249
14    5207              books-i-own    237
15    4615         biography-memoir    206
16    3392               audiobooks    183
17   17780               leadership    166
18   10197                    ebook    165
19   30521                   to-buy    154
20    4949                book-club    150
21    3358                  audible    142
22    2798                    apple    133
23    3371                    audio    132
25   29418                     tech    131
24   22753              owned-books    131
26   28693               steve-jobs    130
27    3611            autobiography    125
28    4634                     bios    124
29   19733                   memoir    120
30   10210                   ebooks    119
31   18045                  library    116
32    1416                abandoned    106
33   20774                 my-books    101
34    9221                  default     98
35   19742                  memoirs     98
36   25148             read-in-2012     90
37    4600      biographies-memoirs     84
38    4611  biography-autobiography     81
39   10700         entrepreneurship     79

In [4]:
(
    book
    .filter(items=["book_id", "authors", "original_title"])
    .merge(book_data, on = "book_id")
    .query("`non-fiction` > .95")
    .head(20)
)

,book_id,authors,original_title,goodreads_book_id,biography,business,childrens,classics,fantasy,historical-fiction,humor,memoir,mystery,non-fiction,paranormal,romance,science,science-fiction,young-adult
302,303,Rhonda Byrne,The Secret,52529,0.0,0.048070,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.951930,0.0,0.000000,0.000000,0.0,0.00000
447,448,Rick Warren,The Purpose Driven Life: What on Earth am I He...,56495,0.0,0.021454,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.978546,0.0,0.000000,0.000000,0.0,0.00000
461,462,John Berger,Ways of Seeing,2784,0.0,0.000000,0.000000,0.025913,0.0,0.0,0.0,0.0,0.0,0.959953,0.0,0.000000,0.014134,0.0,0.00000
716,719,Eckhart Tolle,A New Earth: Awakening to Your Life's Purpose,76334,0.0,0.022245,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.977755,0.0,0.000000,0.000000,0.0,0.00000
741,744,Eckhart Tolle,The Power of Now,6708,0.0,0.037855,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.962145,0.0,0.000000,0.000000,0.0,0.00000
773,776,Phaidon Press,NaN,567616,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.000000,0.000000,0.0,0.00000
794,797,"Francis Chan, Danae Yankoski, Chris Tomlin",Crazy Love: Overwhelmed by a Relentless God,3206011,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.000000,0.000000,0.0,0.00000
915,920,"Marie Kondō, Cathy Hirano",人生がときめく片づけの魔法,22318578,0.0,0.009561,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.990439,0.0,0.000000,0.000000,0.0,0.00000
1140,1146,Scott McCloud,Understanding Comics: The Invisible Art,102920,0.0,0.000000,0.000000,0.016082,0.0,0.0,0.0,0.0,0.0,0.969298,0.0,0.000000,0.000000,0.0,0.01462
1394,1401,Julia Cameron,The Artist's Way: A Spiritual Path to Higher C...,615570,0.0,0.028751,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.971249,0.0,0.000000,0.000000,0.0,0.00000
1617,1625,John Eldredge,NaN,1846,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.000000,0.000000,0.0,0.00000
1689,1697,"John Eldredge, Stasi Eldredge",NaN,11413,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.971717,0.0,0.028283,0.000000,0.0,0.00000
1769,1777,"David Bayles, Ted Orland",Art & Fear: Observations on the Perils (and Re...,187633,0.0,0.024038,0.000000,0.019231,0.0,0.0,0.0,0.0,0.0,0.956731,0.0,0.000000,0.000000,0.0,0.00000
1857,1865,Louise L. Hay,You Can Heal Your Life,129603,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.000000,0.000000,0.0,0.00000
1921,1929,Joyce Meyer,Battlefield of the Mind: Winning the Battle in...,13360,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.000000,0.000000,0.0,0.00000
1927,1935,Amazon,kindle paperwhite user's guide 2nd edition,18607805,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.000000,0.000000,0.0,0.00000
1990,1998,Stormie Omartian,The Power of a Praying Wife,833253,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.000000,0.000000,0.0,0.00000
2012,2020,Mark Bittman,How to Cook Everything: Simple Recipes for Gre...,603204,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.000000,0.000000,0.0,0.00000
2154,2163,"Heidi Murkoff, Arlene Eisenberg, Sandee Hathaway",What to Expect When You're Expecting,174703,0.0,0.000000,0.016016,0.018018,0.0,0.0,0.0,0.0,0.0,0.951952,0.0,0.000000,0.014014,0.0,0.00000
2245,2256,Sarah Young,NaN,381421,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.000000,0.000000,0.0,0.00000

In [5]:
(
    book
    .filter(items=["book_id", "authors", "original_title"])
    .merge(book_data, on = "book_id")
    .query("`non-fiction` > .95")
    .filter(items=["goodreads_book_id", "original_title"])
    .merge(book_tags, on="goodreads_book_id")
    .merge(tags, on="tag_id")
    .groupby(["tag_id", "tag_name"], as_index=False)
    .sum()
    .sort_values("count", ascending=False)
    .head(30)
)

      tag_id           tag_name  goodreads_book_id    count
3145   30574            to-read          428010691  2284038
1018    8717  currently-reading          423998470   123486
2176   21689        non-fiction          428010691    37897
2196   21773         nonfiction          349266281    15663
867     8150          cookbooks           58751996    14238
1256   11557          favorites          386471877    12020
2829   27095          self-help          162345827     9342
709     7077          christian           61883675     8538
2960   28384       spirituality          105735570     7474
2725   25647           religion           94891365     5278
923     8209            cooking           58751996     5274
2935   28341          spiritual           77079528     5145
2337   22743              owned          427485203     4785
313     2938                art           27738621     4570
2436   23471         philosophy          183900736     4273
569     5207        books-i-own          360842321     4078
1310   12175               food           58751996     3442
753     7203       christianity           57808883     3162
2553   24526         psychology          125745152     2809
3091   30241           theology           52453210     2797
1273   11665           feminism           65538944     2532
1592   14552            history          138410107     2460
729     7145   christian-living           56519904     2385
1216   11166              faith           68665050     2255
850     8130           cookbook           58751996     2254
2489   23931           politics          103890370     2231
2836   27111   self-improvement          114488136     2131
2695   25562          reference          185400288     2026
1035    9221            default          238939210     1985
1853   18045            library          312307930     1959

# The Hunger Games

In [6]:
(
    book
    .filter(items=["book_id", "authors", "original_title"])
    .merge(book_data, on = "book_id")
    .query("original_title == 'The Hunger Games'")
)

,book_id,authors,original_title,goodreads_book_id,biography,business,childrens,classics,fantasy,historical-fiction,humor,memoir,mystery,non-fiction,paranormal,romance,science,science-fiction,young-adult
0,1,Suzanne Collins,The Hunger Games,2767052,0.0,0.0,0.0,0.0,0.285834,0.0,0.0,0.0,0.0,0.0,0.0,0.088129,0.0,0.140798,0.485239

In [7]:
harrypotter = "Harry Potter and the Philosopher's Stone"
(
    book
    .filter(items=["book_id", "authors", "original_title"])
    .merge(book_data, on = "book_id")
    .query("original_title == @harrypotter")
)

,book_id,authors,original_title,goodreads_book_id,biography,business,childrens,classics,fantasy,historical-fiction,humor,memoir,mystery,non-fiction,paranormal,romance,science,science-fiction,young-adult
1,2,"J.K. Rowling, Mary GrandPré",Harry Potter and the Philosopher's Stone,3,0.0,0.0,0.03753,0.018719,0.757035,0.0,0.0,0.0,0.010476,0.0,0.014717,0.0,0.0,0.0,0.161522

In [8]:
(
    book
    .filter(items=["book_id", "authors", "original_title"])
    .merge(book_data, on = "book_id")
    .query("original_title == 'Pride and Prejudice'")
)

,book_id,authors,original_title,goodreads_book_id,biography,business,childrens,classics,fantasy,historical-fiction,humor,memoir,mystery,non-fiction,paranormal,romance,science,science-fiction,young-adult
9,10,Jane Austen,Pride and Prejudice,1885,0.0,0.0,0.0,0.652259,0.0,0.070923,0.0,0.0,0.0,0.0,0.0,0.269943,0.0,0.0,0.006875

In [9]:
nineteen84 = "Nineteen Eighty-Four"
(
    book
    .filter(items=["book_id", "authors", "original_title"])
    .merge(book_data, on = "book_id")
    .query("original_title == @nineteen84")
)

,book_id,authors,original_title,goodreads_book_id,biography,business,childrens,classics,fantasy,historical-fiction,humor,memoir,mystery,non-fiction,paranormal,romance,science,science-fiction,young-adult
12,13,"George Orwell, Erich Fromm, Celâl Üster",Nineteen Eighty-Four,5470,0.0,0.0,0.0,0.42193,0.086391,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.468877,0.022802

In [10]:
(
    book
    .filter(items=["book_id", "authors", "original_title"])
    .merge(book_data, on = "book_id")
    .query("original_title == 'Twilight'")
)

,book_id,authors,original_title,goodreads_book_id,biography,business,childrens,classics,fantasy,historical-fiction,humor,memoir,mystery,non-fiction,paranormal,romance,science,science-fiction,young-adult
2,3,Stephenie Meyer,Twilight,41865,0.0,0.0,0.000000,0.0,0.457919,0.0,0.000000,0.0,0.000000,0.0,0.166015,0.000000,0.0,0.007836,0.368230
4215,4234,Meg Cabot,Twilight,93724,0.0,0.0,0.000000,0.0,0.208323,0.0,0.011372,0.0,0.048591,0.0,0.234169,0.175756,0.0,0.005169,0.316619
7023,7047,"Leigh Nichols, Dean Koontz",Twilight,32453,0.0,0.0,0.000000,0.0,0.245902,0.0,0.000000,0.0,0.442623,0.0,0.245902,0.000000,0.0,0.065574,0.000000
8319,8354,Erin Hunter,Twilight,252938,0.0,0.0,0.073989,0.0,0.771930,0.0,0.000000,0.0,0.012204,0.0,0.000000,0.027460,0.0,0.000000,0.114416